[user]
	email = jeshua@clipchamp.com
	name = Jeshua Morrissey
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
    cam = !git commit -a -m '.'
    camp = !git cam && git push
	campn = !git cam --no-verify && git push
    squash-branch = !git reset $(git merge-base master $(git rev-parse --abbrev-ref HEAD))
[pager]
	branch = false
